body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f4f4;
}


.container {
    width: 90%;
    max-width: 1100px;
    margin: auto;
}


.header {
    background: #222;
    padding: 20px 0;
}


.logo a {
    color: white;
    text-decoration: none;
    font-size: 26px;
    font-weight: bold;
}


main {
    padding: 40px 0;
}


h1 {
    margin-bottom: 30px;
}


.product-form {
    background: white;
    padding: 30px;
    border-radius: 10px;
    max-width: 500px;
}


.form-group {
    margin-bottom: 20px;
}


label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}


input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}



.btn {
    background: #007bff;
    color: white;
    border: none;
    padding: 12px 25px;
    border-radius: 5px;
    cursor: pointer;
}


.btn:hover {
    background: #0056b3;
}