<!DOCTYPE html>
<html lang="uk">

<head>
    <meta charset="UTF-8">
    <title>Добавить товар</title>

    <link rel="stylesheet" href="/css/style.css">
</head>


<body>

<header class="header">
    <div class="container">
        <div class="logo">
            ф
        </div>
    </div>
</header>


<main>
<div class="container">

<h1>добавить товар</h1>


<form method="POST">


<div class="form-group">

<label>
    Название товара
</label>

<input
    type="text"
    name="name"
    required>

</div>



<div class="form-group">

<label>
    Тип товара
</label>

<input
    type="text"
    name="type"
    required>

</div>



<div class="form-group">

<label>
    Цена
</label>

<input
    type="number"
    name="price"
    required>

</div>



<button class="btn" type="submit">
    Добавить
</button>


</form>


</div>
</main>


</body>
</html>